<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>   
  <body style="background-color: rgb(240, 97, 118);">
    <h1
      style="
      color: aliceblue;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      "
    >Welcome To Contact Page</h1>
    <hr>
    <a href="/contact">About</a>
    <a href="/">Index</a>
  </body>
</html>
